* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px 16px;
    font-size: 16px;
    background-color: white;
    border: 2px solid #eee;
    border-radius: 12px;
    box-shadow: 0 0 2px grey;
}

h1 {
    text-align: center;
    margin: 5px 0 20px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.todo-list > li {
    padding: 12px;
    list-style: none;
    background-color: #e7fcd7;
    border-radius: 8px;
}

.sub-item-link {
    margin: 16px 18px 24px;
    list-style-type: square;
    list-style-position: inside;
}

.sub-item-link a {
    text-decoration: none;
}

.sub-item-link a:hover {
    color: red;
}

.sub-item-link a:focus {
    outline: 2px solid navy;
}

.sub-item-link a:active {
    color: green;
}

.sub-item-link a:visited {
    color: purple;
}